@mixin menuLinks{
    color: #004289;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background-color: #fff;
    position: relative;
    list-style: none;
    display: none;
    padding-left: 0;
    width: 160px;
}


@mixin iconServices {    
    font-size: 40px;
    padding-left: 15px;
}