$font-paragraph: Open Sans, sans-serif;
$font-titles: Montserrat, sans-serif;

$color-principal: #1445b3;
$color-secondary: #fff;
$color-tertiary: #007bff;
$color-fourth: #004a99;

$font-color-title: #283d50;
$font-color-subtitle: #556877;
$font-color-text: #444;

$padding-section: 40px 0px 1px 0px;

$box-section: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1)