#home{
    background-color: $color-principal;
    padding: $padding-section;
    .container-home{
        display: flex;
        align-items: center;
        height: 100vh;
        margin: auto;
        @media (max-width:993px){
            flex-direction: column;
            height: 100%;
        }
        .image-home{
            width: 50%;
            height: 290px;
            @media (max-width:993px){
                width: 70%;
                margin: 90px auto 0px;
                order: 1;
            }
            @media (max-width:770px){
                height: 200px;
                margin-bottom: 10px;
            }
            @media (max-width:430px){
                height: 170px;
            }
        }
        .info-home{
            width: 50%;
            @media (max-width:993px){
                width: 100%;
                margin: 40px;
                order: 2;
                text-align: center;
            }
            @media (max-width:770px){
                margin-top: 10px;
            }
            .title-home{
                color: $color-secondary;
                font-size: 50px;
                font-weight: 700;
                margin-bottom: 40px;
                @media (max-width:770px){
                    font-size: 34px;
                }
                @media (max-width:430px){
                    margin-bottom: 20px;
                }
                span{
                    color: #74b5fc;
                    text-decoration: underline;
                }
            }
        }
    }
}


#home-element{
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0px;
    left: 50%;
}